.wrapper {
    overflow-y: auto !important;
    scrollbar-width: auto !important;
    height: 90vh;
}
.wrapper::-webkit-scrollbar {
    width: 8px;
    display: none;
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

.wrapper::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.tool {
    padding-left: 15px;
    display: flex;
    flex-direction: column-reverse;
}
.info {
    display: flex;
    padding: 16px 72px 16px 16px;
    justify-content: center;
}
.btn-get {
    bottom: 2%;
    right: 2%;
    position: fixed;
}
.show {
    animation: show 0.8s;
}

@keyframes show {
    0% {
        transform: scale(1); /* Start with original size */
    }
    50% {
        transform: scale(1.5); /* Scale up to twice the original size */
    }
    100% {
        transform: scale(1); /* Return to original size */
    }
}
