.title-login {
    color: rgb(22, 24, 35);

    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.types {
    overflow-y: scroll;
    padding: 10px 5px 2px 13px;
    height: 368px;
}
.type-item {
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(22, 24, 35, 0.12);
    cursor: pointer;
    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}
.text-item {
    display: flex;
    justify-content: center;
    width: 100%;
}
