.ChooseLogin {
    color: rgb(22, 24, 35);
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 9px;
}
.input-ChooseLogin {
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    padding-inline-start: 12px;
    font-size: 1.6rem;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
    margin-bottom: 9px;
}
.text-ChooseLogin {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 500;
    font-size: 1.2rem;
}
.input-ChooseLogin {
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    padding-inline-start: 12px;
    font-size: 1.6rem;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
    margin-bottom: 9px;
}
.wrap-digit {
    display: flex;
    justify-content: space-between;
}
.enter-digit {
    padding-inline-start: 12px;
    margin-bottom: 9px;
    flex: 1 1 0%;
    width: 0px;
    height: 47px;
    border-radius: 4px 0px 0px 4px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    font-size: 1.6rem;
    height: 44px;
    caret-color: rgb(254, 44, 85);
}
.btn-digit {
    color: rgba(22, 24, 35, 0.34);
    border-radius: 0px 4px 4px 0px;
    border: 1.5px solid rgba(22, 24, 35, 0.12);
    background-color: rgba(22, 24, 35, 0.06);
    font-family: TikTokFont, PingFangSC, sans-serif;
    font-weight: 500;
    height: 44px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}
.Wrap__input-ChooseLogin {
    position: relative;
}
.iconPass {
    position: absolute;
    cursor: pointer;
    top: calc(10%);
    right: 3%;
}
.btn-log {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    width: 100%;
    min-height: 46px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    font-family: TikTokFont, PingFangSC, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    margin-top: 21px;
}
.btn-log__value {
    color: black;
}
